<section class="container">
	<div class="row">
		<div class="col-xs-3">
			<app-video-list (videoSelected)="onVideoSelected($event)"></app-video-list>
		</div>
		<div class="col-xs-6">
			<app-stat-graphs
				[a]="fromParent"
				[b]="fromParentAgain">

				</app-stat-graphs>
			<app-video-viewer [video]="selectedVideo"></app-video-viewer>
		</div>
		<div class="col-xs-3">
			<app-stat-filters (onSendToParent)="sendToParent($event)" (onSendToParentAgain)="sendToParentAgain($event)"></app-stat-filters>
		</div>
	</div>
</section>